<ion-header>
    <ion-toolbar color="primary">
        <ion-title>About Renews</ion-title>
    </ion-toolbar>
    
  </ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>ReNews v0.1(Alpha)</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      ReNews is open source application for reading latest news and content from all across the region.
      <br><br>

      This application is not meant to be for sale and for any commercial purpose.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Author</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>Nimitt Ajmera</ion-card-subtitle>
      Software Developer<br>
      nimitt12@yahoo.com : nimitt12@gmail.com<br>
      Indore , India
      <br><br>
      <ion-list>
        <ion-list-header>
          Socials
        </ion-list-header>
        <ion-item>
          <ion-icon slot="end" name="logo-linkedin"></ion-icon>
          <ion-label>linkedin.com/in/nimitt-ajmera</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="end" name="logo-github"></ion-icon>
          <ion-label>github.com/nimitt12</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>References</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Ionic v5</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Baljeet Singh (Instructor)</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>News Api</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

<ion-footer>
  <ion-toolbar>
    <ion-title>ReNews v0.1(Alpha)</ion-title>
  </ion-toolbar>
</ion-footer>
  
</ion-content>